In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# import data
df = pd.read_csv('fcc-forum-pageviews.csv', index_col='date')

In [6]:
type(df)

pandas.core.frame.DataFrame

In [15]:
# clean the data
df = df[df['value'] > df['value'].quantile(0.025)]
df = df[df['value'] < df['value'].quantile(.975)]
df

             value
date
2016-05-19   19736
2016-05-26   18060
2016-05-27   19997
2016-05-28   19044
2016-05-29   20325
...            ...
2019-11-24  138875
2019-11-29  171584
2019-11-30  141161
2019-12-01  142918
2019-12-03  158549

[1239 rows x 1 columns]